* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: #202020;
}

.button {
  cursor: pointer;
  background: #e50914;
  outline: none;
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 3.8rem;
}

h3 {
  padding-top: 2vw;
  font-weight: 400;
}

form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 1vw;
  gap: 1px;
}

form input {
  width: 100%;
  height: 4.5vw;
  outline: none;
  border: none;
  padding: 10px;
  color: black;
}

form input:focus {
  border-bottom: 2px solid orange;
}

form .submit .button {
  width: 100%;
  font-size: 2vw;
  height: 100%;
}

.wrapper {
  display: grid;
  gap: 1rem;
}

.wrapper .navbar {
  position: absolute;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 3.5rem;
}

.wrapper .navbar .nav-logo .logo {
  font-family: 'Bebas Neue', cursive;
  color: #e50914;
  font-size: 3.5vw;
  font-weight: bold;
  letter-spacing: 5px;
}

.wrapper .navbar .nav-action {
  display: flex;
  align-items: center;
}

.wrapper .navbar .nav-action .sign-in {
  border-radius: 5px;
  padding: .5rem 1.1rem;
  font-size: 1rem;
}

.wrapper .container {
  font-family: 'Be Vietnam Pro', sans-serif;
  display: grid;
  gap: .5rem;
}

.wrapper .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
}

.wrapper .container .content.head {
  background-image: url("../img/background.jpg");
  min-height: 98.5vh;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  z-index: 999;
  padding-top: 6vw;
}

.wrapper .container .content.head .background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.582);
  z-index: -999;
  top: 0;
}

.wrapper .container .content.head .main-content {
  min-width: 60vw;
  padding: 6vw;
}

.wrapper .container .content.head .main-content h1 {
  font-weight: 700;
  font-size: 3.8rem;
}

.wrapper .container .content.head .main-content h2 {
  padding-top: 1vw;
  font-weight: 400;
}

.wrapper .container .content.head .main-content h3 {
  padding-top: 2vw;
  font-weight: 400;
}

.wrapper .container .landscape {
  background: black;
  min-height: 61vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.wrapper .container .landscape .boxes {
  display: grid;
  grid-template-columns: 1.1fr .9fr;
  padding: 0 15vw;
}

.wrapper .container .landscape .boxes.two {
  grid-template-columns: .9fr 1.1fr;
  padding: 1rem 10vw;
  gap: 8vw;
}

.wrapper .container .landscape .boxes.two .box.image .phone {
  position: relative;
  width: 32vw;
}

.wrapper .container .landscape .boxes.two .box.image .download {
  position: absolute;
  z-index: 1;
  background: black;
  display: grid;
  grid-template-columns: .5fr 1.5fr .5fr;
  gap: 1rem;
  padding: .7rem;
  border: 2px solid gray;
  border-radius: 1rem;
  transform: translateY(7vw);
}

.wrapper .container .landscape .boxes.two .box.image .download .post {
  display: flex;
  align-items: center;
}

.wrapper .container .landscape .boxes.two .box.image .download .poster {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .container .landscape .boxes.two .box.image .download .poster img {
  height: 5vw;
  width: auto;
}

.wrapper .container .landscape .boxes.two .box.image .download .title {
  justify-content: flex-start;
  padding-right: 2.5vw;
}

.wrapper .container .landscape .boxes.two .box.image .download .title .download-text {
  color: #0071eb;
}

.wrapper .container .landscape .boxes.two .box.image .download .loading {
  justify-content: center;
}

.wrapper .container .landscape .boxes.two .box.image .download .loading img {
  height: 3vw;
  width: auto;
}

.wrapper .container .landscape .boxes .box {
  display: flex;
  align-items: center;
}

.wrapper .container .landscape .boxes .box .card {
  padding-right: 4rem;
}

.wrapper .container .landscape .boxes .box .card h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.wrapper .container .landscape .boxes .box .card h2 {
  font-weight: 400;
}

.wrapper .container .landscape .boxes .box.image {
  display: flex;
  justify-content: center;
}

.wrapper .container .landscape .boxes .box.image .tv {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.wrapper .container .landscape .boxes .box.image .video {
  position: absolute;
  transform: translateY(-2.1vw);
}

.wrapper .container .landscape .boxes .box.image .video video {
  width: 23vw;
  height: 100%;
}

.wrapper .container .landscape .boxes .box.image .video.two {
  transform: translateY(-4vw);
}

.wrapper .container .landscape .boxes .box.image .video.two video {
  width: 19vw;
  height: 100%;
}

.wrapper .container .questions {
  background-color: black;
  padding: 50px 24vw;
}

.wrapper .container .questions .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.wrapper .container .questions .content .title {
  text-align: center;
}

.wrapper .container .questions .content .title h1 {
  font-size: 3vw;
}

.wrapper .container .questions .content .questions-list {
  width: 100%;
  display: grid;
  gap: 10px;
}

.wrapper .container .questions .content .questions-list .question {
  display: grid;
  gap: 1px;
  overflow-x: hidden;
}

.wrapper .container .questions .content .questions-list .question button {
  cursor: pointer;
  outline: none;
  border: none;
  background: #303030;
  width: 100%;
  text-align: left;
  font-size: 1.7vw;
  font-weight: 200;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.wrapper .container .questions .content .questions-list .question button i {
  transform: rotate(45deg);
}

.wrapper .container .questions .content .questions-list .question .card {
  padding: 1.5rem;
  background: #303030;
  font-size: 1.6vw;
  display: grid;
  gap: 1.5rem;
}

.wrapper .container .questions .content .questions-list .question.closed .card {
  display: none;
}

.wrapper .container .questions .content .questions-list .question.closed i {
  transform: rotate(0deg);
}

.wrapper .container .questions .content .email {
  text-align: center;
}

.wrapper .footer {
  z-index: 1;
  min-height: 40vh;
  overflow-y: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.wrapper .footer .content {
  display: grid;
  gap: 1rem;
  width: 55vw;
}

.wrapper .footer .content .footer-head h3 {
  color: #757575;
  font-size: 1rem;
}

.wrapper .footer .content .footer-link {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper .footer .content .footer-link div ul {
  line-height: 2rem;
  list-style: none;
}

.wrapper .footer .content .footer-link div ul li {
  font-size: .8rem;
}

.wrapper .footer .content .footer-link div ul li a {
  text-decoration: none;
  color: #757575;
}

.wrapper .footer .content .footer-link .left, .wrapper .footer .content .footer-link .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1024px) {
  .wrapper .container .landscape .boxes {
    padding: 0 5vw;
  }
  .wrapper .container .landscape .boxes.two {
    padding: 5vw;
  }
  .wrapper .container .landscape .boxes .box.image .video video {
    transform: translateY(-1vw);
    width: 30vw;
  }
  .wrapper .container .landscape .boxes .box.image .video.two {
    transform: translateY(-4vw);
  }
  .wrapper .container .landscape .boxes .box.image .video.two video {
    width: 25vw;
  }
  .wrapper .container .questions {
    padding: 4.5rem 16vw;
  }
  .wrapper .container .questions .content .title h1 {
    font-size: 4.6vw;
  }
  .wrapper .container .questions .content .questions-list .question button {
    font-size: 2.5vw;
  }
  .wrapper .container .questions .content .questions-list .question .card {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 949px) {
  .wrapper .container .landscape .boxes {
    grid-template-columns: 1fr;
    padding: 10vh 10vw;
  }
  .wrapper .container .landscape .boxes.two {
    padding: 10vh 10vw;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .wrapper .container .landscape .boxes.two .box.image {
    order: 2;
  }
  .wrapper .container .landscape .boxes.two .box.image .phone {
    width: 62vw;
  }
  .wrapper .container .landscape .boxes.two .box.image .download {
    transform: translateY(14vw);
  }
  .wrapper .container .landscape .boxes.two .box.text {
    order: 1;
  }
  .wrapper .container .landscape .boxes .box {
    text-align: center;
  }
  .wrapper .container .landscape .boxes .box .card {
    padding: 0;
  }
  .wrapper .container .landscape .boxes .box .card h1 {
    font-size: 5vw;
  }
  .wrapper .container .landscape .boxes .box .card h2 {
    font-size: 2.5vw;
  }
  .wrapper .container .landscape .boxes .box.image .video video {
    transform: translateY(-3vw);
    width: 48vw;
  }
  .wrapper .container .landscape .boxes .box.image .video.two {
    transform: translateY(-5vw);
  }
  .wrapper .container .landscape .boxes .box.image .video.two video {
    width: 40vw;
  }
  .wrapper .container .landscape .boxes .box.image .tv {
    width: 65vw;
  }
  .wrapper .footer {
    padding: 2rem 0;
  }
  .wrapper .footer .content {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .wrapper h3 {
    font-size: 3vw;
    padding: 1rem 4vw;
  }
  .wrapper .navbar {
    padding: 1.5rem 5vw;
  }
  .wrapper .navbar .nav-logo .logo {
    font-size: 2.3rem;
  }
  .wrapper form {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 1rem;
  }
  .wrapper form input {
    height: 8vw;
  }
  .wrapper form .submit .button {
    width: auto;
    text-align: center;
    padding: 12px;
    height: 2.5rem;
    border-radius: 5px;
  }
  .wrapper .container .content {
    min-height: 100vh;
  }
  .wrapper .container .content .background {
    min-height: 100vh;
  }
  .wrapper .container .content.head .main-content {
    padding: 2.5rem 12vw 0 12vw;
  }
  .wrapper .container .content.head .main-content h1 {
    font-size: 6.2vw;
  }
  .wrapper .container .content.head .main-content h2 {
    font-size: 3vw;
  }
  .wrapper .container .content.head .main-content h3 {
    font-size: 3vw;
    padding: 1rem 4vw;
  }
  .wrapper .container .landscape .boxes {
    padding: 10vw 5vw;
  }
  .wrapper .container .landscape .boxes.two {
    padding: 10vw 5vw;
  }
  .wrapper .container .landscape .boxes.two .box.image {
    order: 2;
  }
  .wrapper .container .landscape .boxes.two .box.image .phone {
    width: 100%;
  }
  .wrapper .container .landscape .boxes.two .box.image .download {
    transform: translateY(20vw);
    padding: 5px .5rem;
  }
  .wrapper .container .landscape .boxes.two .box.image .download .post {
    display: flex;
    align-items: center;
  }
  .wrapper .container .landscape .boxes.two .box.image .download .poster {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper .container .landscape .boxes.two .box.image .download .poster img {
    height: 13vw;
    width: auto;
  }
  .wrapper .container .landscape .boxes.two .box.image .download .title {
    justify-content: flex-start;
    padding-right: 2.5vw;
    text-align: left;
  }
  .wrapper .container .landscape .boxes.two .box.image .download .title h4 {
    font-size: .9rem;
  }
  .wrapper .container .landscape .boxes.two .box.image .download .title h4.download-text {
    font-size: .8rem;
    font-weight: 200;
  }
  .wrapper .container .landscape .boxes.two .box.image .download .loading {
    justify-content: center;
  }
  .wrapper .container .landscape .boxes.two .box.image .download .loading img {
    height: 5vw;
    width: auto;
  }
  .wrapper .container .landscape .boxes.two .box.text {
    order: 1;
  }
  .wrapper .container .landscape .boxes .box {
    text-align: center;
  }
  .wrapper .container .landscape .boxes .box .card {
    padding: 0;
  }
  .wrapper .container .landscape .boxes .box .card h1 {
    font-size: 5vw;
  }
  .wrapper .container .landscape .boxes .box .card h2 {
    font-size: 2.5vw;
  }
  .wrapper .container .landscape .boxes .box.image .video video {
    transform: translateY(-5vw);
    width: 67vw;
  }
  .wrapper .container .landscape .boxes .box.image .video.two {
    transform: translateY(-7vw);
  }
  .wrapper .container .landscape .boxes .box.image .video.two video {
    width: 57vw;
  }
  .wrapper .container .landscape .boxes .box.image .tv {
    width: 100%;
  }
  .wrapper .container .questions {
    padding: 3rem 10vw;
  }
  .wrapper .container .questions .content {
    display: block;
  }
  .wrapper .container .questions .content .title h1 {
    font-size: 5vw;
  }
  .wrapper .container .questions .content .questions-list {
    padding: 1rem 0;
  }
  .wrapper .container .questions .content .questions-list .question button {
    font-size: 2.5vw;
    padding: 1rem;
  }
  .wrapper .container .questions .content .questions-list .question .card {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 550px) {
  .wrapper .navbar {
    padding: 1.5rem 6.5vw;
  }
  .wrapper .navbar .nav-logo .logo {
    font-size: 2rem;
  }
  .wrapper .navbar .nav-action .button {
    padding: 5px .5rem;
    font-size: 15px;
  }
  .wrapper form {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .wrapper form input {
    height: 3rem;
  }
  .wrapper form .submit .button {
    font-size: 1rem;
  }
  .wrapper .container .content .background {
    min-height: 77vh;
  }
  .wrapper .container .content.head {
    min-height: 77vh;
    padding: 0;
  }
  .wrapper .container .content.head .main-content {
    padding: 2.5rem 1.5rem 0 1.5rem;
  }
  .wrapper .container .content.head .main-content h1 {
    font-size: 5vw;
  }
  .wrapper .container .content.head .main-content h1 .space {
    display: none;
  }
  .wrapper .container .content.head .main-content h2 {
    padding-top: 1rem;
  }
  .wrapper .container .content.head .main-content h3 {
    font-size: 3vw;
    padding: 1rem 8vw;
  }
  .wrapper .container .landscape .boxes .box .card h1 {
    font-size: 7vw;
  }
  .wrapper .container .landscape .boxes .box .card h2 {
    font-size: 3.5vw;
    padding-bottom: 1rem;
  }
  .wrapper .container .questions {
    padding: 4rem 10vw;
  }
  .wrapper .container .questions .content .title h1 {
    font-size: 7vw;
  }
  .wrapper .container .questions .content .questions-list {
    padding: 1rem 0;
  }
  .wrapper .container .questions .content .questions-list .question button {
    font-size: 3.5vw;
    padding: 1rem;
  }
  .wrapper .container .questions .content .questions-list .question .card {
    font-size: 3.5vw;
  }
  .wrapper .footer .content {
    width: 80vw;
  }
  .wrapper .footer .content .footer-head {
    text-align: left;
  }
  .wrapper .footer .content .footer-head h3 {
    padding: 0;
  }
  .wrapper .footer .content .footer-link {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .wrapper .footer .content .footer-link .left, .wrapper .footer .content .footer-link .right {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .wrapper h3 {
    font-size: 1rem;
  }
  .wrapper .container .content.head .main-content {
    padding: 4rem 1rem 1rem 0;
  }
  .wrapper .container .content.head .main-content h1 {
    font-size: 1.7rem;
  }
  .wrapper .container .content.head .main-content h2 {
    font-size: 1rem;
  }
  .wrapper .container .content.head .main-content h3 {
    font-size: 1rem;
  }
  .wrapper .container .landscape .boxes .box .card h2 {
    font-size: 4vw;
    padding-bottom: 1rem;
  }
  .wrapper .container .questions {
    min-height: 40vh;
    overflow-y: auto;
    padding: 2rem 0;
  }
  .wrapper .container .questions .content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .wrapper .container .questions .content .title h1 {
    font-size: 1.5rem;
  }
  .wrapper .container .questions .content .questions-list {
    padding: 0;
  }
  .wrapper .container .questions .content .questions-list .question button {
    font-size: 1rem;
    padding: 1rem;
  }
  .wrapper .container .questions .content .questions-list .question .card {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 320px) {
  .wrapper .container .landscape .boxes .box .card h1 {
    font-size: 1.7rem;
  }
  .wrapper .container .landscape .boxes .box .card h2 {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=index.css.map */